<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No Tan Raros</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>


    <header class="header">
        <div class="conteiner-logo">
            <img class="logo" src="images/Logo-NoTanRaros.jpeg" alt="Logo-NoTanRaros">
        </div>
        <div class="conteiner-barra-de-busqueda">
            <i class="fas fa-search"></i>
            <div class="barra-de-busqueda"> <input type="" placeholder="Buscar productos, marcas">
            </div>
        </div>
    </header>
    <main class="home">
        <section>
            <div class="conteiner-ofertas">
                <h2>OFERTAS!!!</h2>
                <img src="images/ofertas.jpg" width="95%" alt="ofertas">
            </div>
        </section>
        <section class="conteiner-productos">
            <h2>Productos Destacados</h2>
            <section class="productos">
                <img src="images/productoDestacado1.jpg" width="95%" alt="Rngoku">
            </section>
        </section>
        <h3 class="franquisias">FRANQUISAS DESTACADAS</h3>
        <section class="conteiner-caja1">
            <article class="caja1">
                <img src="images/Naruto.jpg" width="30%" alt="naruto">
                <div>
                    <h3>Naruto</h3>
                </div>
        </section>
        </article>
        <section class="conteiner-caja2">
            <article class="caja2">
                <img src="images/Futurama.jpg" width="30%" alt="Futurama">
                <div>
                    <h3>Futurama</h3>
                </div>
            </article>
        </section>
        <section class="conteiner-caja3">
            <article class="caja3">
                <img src="images/LosSimpson.jpg" width="30%" alt="Homero">
                <div>
                    <h3>Los Simpson</h3>
                </div>
            </article>
        </section>
        <section class="conteiner-caja4">
            <article class="caja4">
                <img src="images/GDT.jpg" width="30%" alt="JuegoDeTrono">
                <div>
                    <h3>Juego De Trono</h3>
                </div>
            </article>
        </section>
        <section class="conteiner-ropa">
            <h2>¿Que estas buscando?</h2>
            <article class="ropa1">
                <img src="images/Reme.jpg" width="20%" alt="remera">
                <div>
                    <h3>Remeras</h3>
                </div>
            </article>
            <article class="ropa2">
                <img src="images/Pantalones.jpg" width="20%" alt="pantalones">
                <div>
                    <h3>Pantalones</h3>
                </div>
            </article>
            <article class="ropa3">
                <img src="images/Gorro.jpg" width="20%" alt="gorro">
                <div>
                    <h3>Gorros</h3>
                </div>
            </article>
            <article class="ropa4">
                <img src="images/zapatillas.jpg" width="20%" alt="zapatillas">
                <div>
                    <h3>Zapatillas</h3>
                </div>
            </article>
            <article class="ropa5">
                <img src="images/Poster.jpg" width="20%" alt="poster">
                <div>
                    <h3>Poster</h3>
                </div>
            </article>
        </section>
        <section class="conteiner-banner">
            <h3 class="banner">Algo que prodria interesarte!!</h3>
            <article class="card1">
            <img src="images/goyo.jpg"  alt="goyo">
               <div>
                <div class="card-content">
                    <div class="icon-truck">
                      <i class="fas fa-truck"></i>
                    </div>
                    <div class="product-info">
                      <p class="prices">$XXXX</p>
                      <p class="discounts">40% OFF</p>
                    </div>
                    <h5 class="product-name">Remera Goyo</h5>
                  </div>
               </div>
            </article>   
            <article class="card2">
                <img src="images/tokyo.jpg"  alt="tokyo">
                   <div>
                    <div class="card-content">
                        <div class="icon-truck">
                          <i class="fas fa-truck"></i>
                        </div>
                        <div class="product-info">
                          <p class="prices">$XXXX</p>
                          <p class="discounts">40% OFF</p>
                        </div>
                        <h5 class="product-name">Remera Tokyo Revengers</h5>
                      </div>
                   </div>
           </article>
           <article class="card3">
            <img src="images/shingeky.jpg"  alt="shingeki">
               <div>
                <div class="card-content">
                    <div class="icon-truck">
                      <i class="fas fa-truck"></i>
                    </div>
                    <div class="product-info">
                      <p class="prices">$XXXX</p>
                      <p class="discounts">40% OFF</p>
                    </div>
                    <h5 class="product-name">Remera de Legion</h5>
                  </div>
               </div>
       </article> 
       <article class="card4">
        <img src="images/Remera1.jpg"  alt="reme">
           <div>
            <div class="card-content">
                <div class="icon-truck">
                  <i class="fas fa-truck"></i>
                </div>
                <div class="product-info">
                  <p class="prices">$XXXX</p>
                  <p class="discounts">40% OFF</p>
                </div>
                <h5 class="product-name">Remera de Alien</h5>
              </div>
           </div>
   </article>   
   <article class="card5">
    <img src="images/Remera2.jpg"  alt="remera">
       <div>
        <div class="card-content">
            <div class="icon-truck">
              <i class="fas fa-truck"></i>
            </div>
            <div class="product-info">
              <p class="prices">$XXXX</p>
              <p class="discounts">40% OFF</p>
            </div>
            <h5 class="product-name">Remera de Anime</h5>
          </div>
       </div>
</article>        
        </section>

    </main>
    <footer class="footer">
        <div class="conteiner-footer">
         <ul class="conteiner_texto">
             <li class="texto">Inicio</li> 
             <li class="texto">Navegacion</li>
             <li class="texto">Contacto</li>
             <li class="texto">Politica De Devolucion</li>
             <li class="texto">Medios De Pago</li>
         </ul>
        </div>
        
    </footer>
</body>

</html>